.subtitulo{
    text-align: center;
}
.contenedorSinopsis{
    padding: 1rem;
}
.estiloBotones{
    width: 30%;
    padding: 0.5rem;
    margin-top: 1rem;
}
.precioDetalles{
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;    
}
.stockProducto{
    text-align: center;
}
.buttonSinStock{
    background-color: gray !important;
    border-color: gray !important;
    cursor: not-allowed !important;
}
.estiloDetalle{
    margin: 2rem;
    max-width: 900px;
}
.productoDescripcion{
    max-height: 200px;
    overflow-y: auto;
    font-size: 0.7rem;
}
.estiloImagen{
    height: auto;
    width: 100%;
    object-fit: cover;
    align-items: stretch;
}